<div class="border rounded rounded-4 p-3 d-inline-block">
@if(userAnswer){
  <label>Question</label>
  <h5>{{ question }}</h5>
  <mat-form-field>
    <mat-label>Answer</mat-label>
    <input matInput placeholder="Answer" [value]="userAnswer" [disabled]="userAnswer.length > 0" />
  </mat-form-field>
  <div class="d-flex gap-2">
    <button (click)="onReAnswer()" type="button" class="btn btn-success">Re-Answer</button>
    <button (click)="onEdit()" type="button" class="btn btn-info">Edit</button>
    <button (click)="onDelete()" type="button" class="btn btn-danger">Delete</button>
  </div>
} @else {
  <form [formGroup]="inputAnswer">
    <label>Question</label>
    <h5>{{ question }}</h5>
    <mat-form-field>
      <mat-label>Input Answer</mat-label>
      <input matInput formControlName="answer" placeholder="Answer" />
      @if (inputAnswer.value.answer) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="inputAnswer.controls.answer.reset()">
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-error>Please enter a valid question.</mat-error>
    </mat-form-field>
  </form>
  <div class="d-flex gap-2">
    <button type="button" (click)="onAnswer()" class="btn btn-success">{{ userAnswer ? 'Re-Answer' : 'Answer' }}</button>
    <button type="button" (click)="onEdit()" class="btn btn-info">Edit</button>
    <button type="button" (click)="onDelete()" class="btn btn-danger">Delete</button>
  </div>
 }
</div>
